.noiseGenerator {
  width: 38rem;
  height: 60rem;
  background-color: var(--app);
  border: var(--appBorder);
  border-radius: 1.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.playButtonAndKnobContainer {
  align-items: center;
  display: flex;
  gap: 3rem;
}

.noiseButtonsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.displayButtonsContainer {
  display: flex;
  flex-direction: column;
}

@media (max-width: 450px) {
  .noiseGenerator {
    width: 98%;
    height: 99%;
  }
}
