:root {
  --background: rgb(0, 0, 0);
  --app: #171920;
  --appBorder: 0.5px solid #464d57;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  background-color: var(--background);
  user-select: none;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

canvas {
  width: 90%;
  height: 35%;
  background: black;
  border: var(--appBorder);
  border-radius: 1.1rem;
  margin-bottom: 0.5rem;
}

.app-container {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  display: inline-block;
  border: 0;
  padding: 0;
  margin: 0;
  background-color: transparent;
  text-decoration: none;
  font-family: inherit;
  line-height: 1;
  cursor: default;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  line-height: inherit;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  cursor: default;
}
